In [2]:
import os
from sqlalchemy import create_engine
import pymysql
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import re

In [3]:
pd.set_option('display.max_columns', 100)
# sqlpassword =  'smaa2lkb1&D+Sf]6]o#F'
sqlpassword = os.environ['SQLpassword']
engine = create_engine(f"mysql+pymysql://root:{sqlpassword}@127.0.0.1/world_happiness")

**Step 0.** Most of the data sets have been imported directly to SQL data base but data sets relating to medical health have too many columns with very extensive, so these data sets will be preprocessed by pandas below.

In [47]:
# 2016 mental health data set

df = pd.read_csv('.\\data\\mental-heath-in-tech-2016.csv')
pd.set_option('display.max_columns', 100)
data = df.iloc[:, [2, 45, 46, 47, 48, 49, 50, 51, 55, 57, 58, 59, 60, 61]]
data.columns = ['tech_employer','family_history','sickness_past','sickness_current','diagnosis','supposed_diagnosis',
                'professional_help','professional_diagnosis','age','country_origin','us_state_origin','country_location',
                'us_state_location','occupation']
data.head()
data.to_sql('mental_heath_in_tech_2016_redused', engine, 'world_happiness')

In [45]:
# 2017 mental health data set

df = pd.read_csv('.\\data\\mental-heath-in-tech-2017.csv')
data = df.iloc[:, [3, 49, 89, 91, 112, 113, 114, 115]]
data.columns = ['tech_employer', 'sickness_current','sickness_past','family_history','age','gender','country_location',
                'us_state_location']
data.head()
data.to_sql('mental_heath_in_tech_2017_redused', engine, 'world_happiness')

In [50]:
# 2018 mental health data set

df = pd.read_csv('.\\data\\mental-heath-in-tech-2018.csv')
data = df.iloc[:, [3, 48, 49, 91, 112, 113, 114, 115]]
data.columns = ['tech_employer', 'sickness_current','sickness_past','family_history','age','gender','country_location',
                'us_state_location']
data.head()
data.to_sql('mental_heath_in_tech_2018_redused', engine, 'world_happiness')

In [49]:
# 2019 mental health data set

df = pd.read_csv('.\\data\\mental-heath-in-tech-2019.csv')
data = df.iloc[:, [2, 47, 52, 54, 75, 76, 77, 78]]
data.columns = ['tech_employer', 'sickness_current','sickness_past','family_history','age','gender','country_location',
                'us_state_location']
data.head()
data.to_sql('mental_heath_in_tech_2019_redused', engine, 'world_happiness')

**Step 1.** Reading and cleaning data.

a) Combining data sets for various periods in one table based on data topic.

*Suicide data.*

In [4]:
df_suicide_new = pd.read_sql_query('''SELECT * FROM world_happiness.suicide_2015_2018''', engine)
df_suicide_new.head()

  LOCATION INDICATOR SUBJECT    MEASURE FREQUENCY  TIME  Value
0      AUS   SUICIDE     TOT  100000PER         A  2015   13.1
1      AUS   SUICIDE     TOT  100000PER         A  2016   12.1
2      AUS   SUICIDE     TOT  100000PER         A  2017   12.8
3      AUT   SUICIDE     TOT  100000PER         A  2015   12.9
4      AUT   SUICIDE     TOT  100000PER         A  2016   12.2

In [5]:
df_suicide_who = pd.read_sql_query('''SELECT * FROM world_happiness.suicide_1987_2014''', engine)
df_suicide_who.head()

,country,Year,sex,age,suicides_no,population,suicides_100k_pop,country_year,HDI_for_year,gdp_for_year_$,gdp_per_capita_$,generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,0.0,2,796,Generation X\r
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,0.0,2,796,Silent\r
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,0.0,2,796,Generation X\r
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,0.0,2,796,G.I. Generation\r
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,0.0,2,796,Boomers\r

In [6]:
url = 'https://www.iban.com/country-codes'
html = requests.get(url).content
soup = BeautifulSoup(html, "lxml")
cdict = {'class':'table'}
table = soup.find_all('table', cdict)[0]
rows = table.find_all('td')
rows = [x.contents[0] for x in rows]
rows

['Afghanistan',
 'AF',
 'AFG',
 '004',
 'Åland Islands',
 'AX',
 'ALA',
 '248',
 'Albania',
 'AL',
 'ALB',
 '008',
 'Algeria',
 'DZ',
 'DZA',
 '012',
 'American Samoa',
 'AS',
 'ASM',
 '016',
 'Andorra',
 'AD',
 'AND',
 '020',
 'Angola',
 'AO',
 'AGO',
 '024',
 'Anguilla',
 'AI',
 'AIA',
 '660',
 'Antarctica',
 'AQ',
 'ATA',
 '010',
 'Antigua and Barbuda',
 'AG',
 'ATG',
 '028',
 'Argentina',
 'AR',
 'ARG',
 '032',
 'Armenia',
 'AM',
 'ARM',
 '051',
 'Aruba',
 'AW',
 'ABW',
 '533',
 'Australia',
 'AU',
 'AUS',
 '036',
 'Austria',
 'AT',
 'AUT',
 '040',
 'Azerbaijan',
 'AZ',
 'AZE',
 '031',
 'Bahamas (the)',
 'BS',
 'BHS',
 '044',
 'Bahrain',
 'BH',
 'BHR',
 '048',
 'Bangladesh',
 'BD',
 'BGD',
 '050',
 'Barbados',
 'BB',
 'BRB',
 '052',
 'Belarus',
 'BY',
 'BLR',
 '112',
 'Belgium',
 'BE',
 'BEL',
 '056',
 'Belize',
 'BZ',
 'BLZ',
 '084',
 'Benin',
 'BJ',
 'BEN',
 '204',
 'Bermuda',
 'BM',
 'BMU',
 '060',
 'Bhutan',
 'BT',
 'BTN',
 '064',
 'Bolivia (Plurinational State of)',
 'BO',
 'BOL',
 '068',
 'Bonaire, Sint Eustatius and Saba',
 'BQ',
 'BES',
 '535',
 'Bosnia and Herzegovina',
 'BA',
 'BIH',
 '070',
 'Botswana',
 'BW',
 'BWA',
 '072',
 'Bouvet Island',
 'BV',
 'BVT',
 '074',
 'Brazil',
 'BR',
 'BRA',
 '076',
 'British Indian Ocean Territory (the)',
 'IO',
 'IOT',
 '086',
 'Brunei Darussalam',
 'BN',
 'BRN',
 '096',
 'Bulgaria',
 'BG',
 'BGR',
 '100',
 'Burkina Faso',
 'BF',
 'BFA',
 '854',
 'Burundi',
 'BI',
 'BDI',
 '108',
 'Cabo Verde',
 'CV',
 'CPV',
 '132',
 'Cambodia',
 'KH',
 'KHM',
 '116',
 'Cameroon',
 'CM',
 'CMR',
 '120',
 'Canada',
 'CA',
 'CAN',
 '124',
 'Cayman Islands (the)',
 'KY',
 'CYM',
 '136',
 'Central African Republic (the)',
 'CF',
 'CAF',
 '140',
 'Chad',
 'TD',
 'TCD',
 '148',
 'Chile',
 'CL',
 'CHL',
 '152',
 'China',
 'CN',
 'CHN',
 '156',
 'Christmas Island',
 'CX',
 'CXR',
 '162',
 'Cocos (Keeling) Islands (the)',
 'CC',
 'CCK',
 '166',
 'Colombia',
 'CO',
 'COL',
 '170',
 'Comoros (the)',
 'KM',
 'COM',
 '174',
 'Congo (the Democratic Republic of the)',
 'CD',
 'COD',
 '180',
 'Congo (the)',
 'CG',
 'COG',
 '178',
 'Cook Islands (the)',
 'CK',
 'COK',
 '184',
 'Costa Rica',
 'CR',
 'CRI',
 '188',
 "Côte d'Ivoire",
 'CI',
 'CIV',
 '384',
 'Croatia',
 'HR',
 'HRV',
 '191',
 'Cuba',
 'CU',
 'CUB',
 '192',
 'Curaçao',
 'CW',
 'CUW',
 '531',
 'Cyprus',
 'CY',
 'CYP',
 '196',
 'Czechia',
 'CZ',
 'CZE',
 '203',
 'Denmark',
 'DK',
 'DNK',
 '208',
 'Djibouti',
 'DJ',
 'DJI',
 '262',
 'Dominica',
 'DM',
 'DMA',
 '212',
 'Dominican Republic (the)',
 'DO',
 'DOM',
 '214',
 'Ecuador',
 'EC',
 'ECU',
 '218',
 'Egypt',
 'EG',
 'EGY',
 '818',
 'El Salvador',
 'SV',
 'SLV',
 '222',
 'Equatorial Guinea',
 'GQ',
 'GNQ',
 '226',
 'Eritrea',
 'ER',
 'ERI',
 '232',
 'Estonia',
 'EE',
 'EST',
 '233',
 'Eswatini',
 'SZ',
 'SWZ',
 '748',
 'Ethiopia',
 'ET',
 'ETH',
 '231',
 'Falkland Islands (the) [Malvinas]',
 'FK',
 'FLK',
 '238',
 'Faroe Islands (the)',
 'FO',
 'FRO',
 '234',
 'Fiji',
 'FJ',
 'FJI',
 '242',
 'Finland',
 'FI',
 'FIN',
 '246',
 'France',
 'FR',
 'FRA',
 '250',
 'French Guiana',
 'GF',
 'GUF',
 '254',
 'French Polynesia',
 'PF',
 'PYF',
 '258',
 'French Southern Territories (the)',
 'TF',
 'ATF',
 '260',
 'Gabon',
 'GA',
 'GAB',
 '266',
 'Gambia (the)',
 'GM',
 'GMB',
 '270',
 'Georgia',
 'GE',
 'GEO',
 '268',
 'Germany',
 'DE',
 'DEU',
 '276',
 'Ghana',
 'GH',
 'GHA',
 '288',
 'Gibraltar',
 'GI',
 'GIB',
 '292',
 'Greece',
 'GR',
 'GRC',
 '300',
 'Greenland',
 'GL',
 'GRL',
 '304',
 'Grenada',
 'GD',
 'GRD',
 '308',
 'Guadeloupe',
 'GP',
 'GLP',
 '312',
 'Guam',
 'GU',
 'GUM',
 '316',
 'Guatemala',
 'GT',
 'GTM',
 '320',
 'Guernsey',
 'GG',
 'GGY',
 '831',
 'Guinea',
 'GN',
 'GIN',
 '324',
 'Guinea-Bissau',
 'GW',
 'GNB',
 '624',
 'Guyana',
 'GY',
 'GUY',
 '328',
 'Haiti',
 'HT',
 'HTI',
 '332',
 'Heard Island and McDonald Islands',
 'HM',
 'HMD',
 '334',
 'Holy See (the)',
 'VA',
 'VAT',
 '336',
 'Honduras',
 'HN',
 'HND',
 '340',
 'Hong Kong',
 'HK',
 'HKG',
 '344',
 'Hungary',
 'HU',
 'HUN',
 '348',
 'Iceland',
 'IS',
 'ISL',
 '352',
 'India',
 'IN',
 'IND',
 '356',
 'Indonesia',
 'ID',
 'IDN',
 '360',
 'Iran (Islamic Republic of)',
 'IR',
 'IRN',
 '364',
 'Iraq',
 'IQ',
 'IRQ',
 '368',
 'Ireland',
 'IE',
 'IRL',
 '372',
 'Isle of Man',
 'IM',
 'IMN',
 '833',
 'Israel',
 'IL',
 'ISR',
 '376',
 'Italy',
 'IT',
 'ITA',
 '380',
 'Jamaica',
 'JM',
 'JAM',
 '388',
 'Japan',
 'JP',
 'JPN',
 '392',
 'Jersey',
 'JE',
 'JEY',
 '832',
 'Jordan',
 'JO',
 'JOR',
 '400',
 'Kazakhstan',
 'KZ',
 'KAZ',
 '398',
 'Kenya',
 'KE',
 'KEN',
 '404',
 'Kiribati',
 'KI',
 'KIR',
 '296',
 "Korea (the Democratic People's Republic of)",
 'KP',
 'PRK',
 '408',
 'Korea (the Republic of)',
 'KR',
 'KOR',
 '410',
 'Kuwait',
 'KW',
 'KWT',
 '414',
 'Kyrgyzstan',
 'KG',
 'KGZ',
 '417',
 "Lao People's Democratic Republic (the)",
 'LA',
 'LAO',
 '418',
 'Latvia',
 'LV',
 'LVA',
 '428',
 'Lebanon',
 'LB',
 'LBN',
 '422',
 'Lesotho',
 'LS',
 'LSO',
 '426',
 'Liberia',
 'LR',
 'LBR',
 '430',
 'Libya',
 'LY',
 'LBY',
 '434',
 'Liechtenstein',
 'LI',
 'LIE',
 '438',
 'Lithuania',
 'LT',
 'LTU',
 '440',
 'Luxembourg',
 'LU',
 'LUX',
 '442',
 'Macao',
 'MO',
 'MAC',
 '446',
 'Republic of North Macedonia',
 'MK',
 'MKD',
 '807',
 'Madagascar',
 'MG',
 'MDG',
 '450',
 'Malawi',
 'MW',
 'MWI',
 '454',
 'Malaysia',
 'MY',
 'MYS',
 '458',
 'Maldives',
 'MV',
 'MDV',
 '462',
 'Mali',
 'ML',
 'MLI',
 '466',
 'Malta',
 'MT',
 'MLT',
 '470',
 'Marshall Islands (the)',
 'MH',
 'MHL',
 '584',
 'Martinique',
 'MQ',
 'MTQ',
 '474',
 'Mauritania',
 'MR',
 'MRT',
 '478',
 'Mauritius',
 'MU',
 'MUS',
 '480',
 'Mayotte',
 'YT',
 'MYT',
 '175',
 'Mexico',
 'MX',
 'MEX',
 '484',
 'Micronesia (Federated States of)',
 'FM',
 'FSM',
 '583',
 'Moldova (the Republic of)',
 'MD',
 'MDA',
 '498',
 'Monaco',
 'MC',
 'MCO',
 '492',
 'Mongolia',
 'MN',
 'MNG',
 '496',
 'Montenegro',
 'ME',
 'MNE',
 '499',
 'Montserrat',
 'MS',
 'MSR',
 '500',
 'Morocco',
 'MA',
 'MAR',
 '504',
 'Mozambique',
 'MZ',
 'MOZ',
 '508',
 'Myanmar',
 'MM',
 'MMR',
 '104',
 'Namibia',
 'NA',
 'NAM',
 '516',
 'Nauru',
 'NR',
 'NRU',
 '520',
 'Nepal',
 'NP',
 'NPL',
 '524',
 'Netherlands (the)',
 'NL',
 'NLD',
 '528',
 'New Caledonia',
 'NC',
 'NCL',
 '540',
 'New Zealand',
 'NZ',
 'NZL',
 '554',
 'Nicaragua',
 'NI',
 'NIC',
 '558',
 'Niger (the)',
 'NE',
 'NER',
 '562',
 'Nigeria',
 'NG',
 'NGA',
 '566',
 'Niue',
 'NU',
 'NIU',
 '570',
 'Norfolk Island',
 'NF',
 'NFK',
 '574',
 'Northern Mariana Islands (the)',
 'MP',
 'MNP',
 '580',
 'Norway',
 'NO',
 'NOR',
 '578',
 'Oman',
 'OM',
 'OMN',
 '512',
 'Pakistan',
 'PK',
 'PAK',
 '586',
 'Palau',
 'PW',
 'PLW',
 '585',
 'Palestine, State of',
 'PS',
 'PSE',
 '275',
 'Panama',
 'PA',
 'PAN',
 '591',
 'Papua New Guinea',
 'PG',
 'PNG',
 '598',
 'Paraguay',
 'PY',
 'PRY',
 '600',
 'Peru',
 'PE',
 'PER',
 '604',
 'Philippines (the)',
 'PH',
 'PHL',
 '608',
 'Pitcairn',
 'PN',
 'PCN',
 '612',
 'Poland',
 'PL',
 'POL',
 '616',
 'Portugal',
 'PT',
 'PRT',
 '620',
 'Puerto Rico',
 'PR',
 'PRI',
 '630',
 'Qatar',
 'QA',
 'QAT',
 '634',
 'Réunion',
 'RE',
 'REU',
 '638',
 'Romania',
 'RO',
 'ROU',
 '642',
 'Russian Federation (the)',
 'RU',
 'RUS',
 '643',
 'Rwanda',
 'RW',
 'RWA',
 '646',
 'Saint Barthélemy',
 'BL',
 'BLM',
 '652',
 'Saint Helena, Ascension and Tristan da Cunha',
 'SH',
 'SHN',
 '654',
 'Saint Kitts and Nevis',
 'KN',
 'KNA',
 '659',
 'Saint Lucia',
 'LC',
 'LCA',
 '662',
 'Saint Martin (French part)',
 'MF',
 'MAF',
 '663',
 'Saint Pierre and Miquelon',
 'PM',
 'SPM',
 '666',
 'Saint Vincent and the Grenadines',
 'VC',
 'VCT',
 '670',
 'Samoa',
 'WS',
 'WSM',
 '882',
 'San Marino',
 'SM',
 'SMR',
 '674',
 'Sao Tome and Principe',
 'ST',
 'STP',
 '678',
 'Saudi Arabia',
 'SA',
 'SAU',
 '682',
 'Senegal',
 'SN',
 'SEN',
 '686',
 'Serbia',
 'RS',
 'SRB',
 '688',
 'Seychelles',
 'SC',
 'SYC',
 '690',
 'Sierra Leone',
 'SL',
 'SLE',
 '694',
 'Singapore',
 'SG',
 'SGP',
 '702',
 'Sint Maarten (Dutch part)',
 'SX',
 'SXM',
 '534',
 'Slovakia',
 'SK',
 'SVK',
 '703',
 'Slovenia',
 'SI',
 'SVN',
 '705',
 'Solomon Islands',
 'SB',
 'SLB',
 '090',
 'Somalia',
 'SO',
 'SOM',
 '706',
 'South Africa',
 'ZA',
 'ZAF',
 '710',
 'South Georgia and the South Sandwich Islands',
 'GS',
 'SGS',
 '239',
 'South Sudan',
 'SS',
 'SSD',
 '728',
 'Spain',
 'ES',
 'ESP',
 '724',
 'Sri Lanka',
 'LK',
 'LKA',
 '144',
 'Sudan (the)',
 'SD',
 'SDN',
 '729',
 'Suriname',
 'SR',
 'SUR',
 '740',
 'Svalbard and Jan Mayen',
 'SJ',
 'SJM',
 '744',
 'Sweden',
 'SE',
 'SWE',
 '752',
 'Switzerland',
 'CH',
 'CHE',
 '756',
 'Syrian Arab Republic',
 'SY',
 'SYR',
 '760',
 'Taiwan (Province of China)',
 'TW',
 'TWN',
 '158',
 'Tajikistan',
 'TJ',
 'TJK',
 '762',
 'Tanzania, United Republic of',
 'TZ',
 'TZA',
 '834',
 'Thailand',
 'TH',
 'THA',
 '764',
 'Timor-Leste',
 'TL',
 'TLS',
 '626',
 'Togo',
 'TG',
 'TGO',
 '768',
 'Tokelau',
 'TK',
 'TKL',
 '772',
 'Tonga',
 'TO',
 'TON',
 '776',
 'Trinidad and Tobago',
 'TT',
 'TTO',
 '780',
 'Tunisia',
 'TN',
 'TUN',
 '788',
 'Turkey',
 'TR',
 'TUR',
 '792',
 'Turkmenistan',
 'TM',
 'TKM',
 '795',
 'Turks and Caicos Islands (the)',
 'TC',
 'TCA',
 '796',
 'Tuvalu',
 'TV',
 'TUV',
 '798',
 'Uganda',
 'UG',
 'UGA',
 '800',
 'Ukraine',
 'UA',
 'UKR',
 '804',
 'United Arab Emirates (the)',
 'AE',
 'ARE',
 '784',
 'United Kingdom of Great Britain and Northern Ireland (the)',
 'GB',
 'GBR',
 '826',
 'United States Minor Outlying Islands (the)',
 'UM',
 'UMI',
 '581',
 'United States of America (the)',
 'US',
 'USA',
 '840',
 'Uruguay',
 'UY',
 'URY',
 '858',
 'Uzbekistan',
 'UZ',
 'UZB',
 '860',
 'Vanuatu',
 'VU',
 'VUT',
 '548',
 'Venezuela (Bolivarian Republic of)',
 'VE',
 'VEN',
 '862',
 'Viet Nam',
 'VN',
 'VNM',
 '704',
 'Virgin Islands (British)',
 'VG',
 'VGB',
 '092',
 'Virgin Islands (U.S.)',
 'VI',
 'VIR',
 '850',
 'Wallis and Futuna',
 'WF',
 'WLF',
 '876',
 'Western Sahara',
 'EH',
 'ESH',
 '732',
 'Yemen',
 'YE',
 'YEM',
 '887',
 'Zambia',
 'ZM',
 'ZMB',
 '894',
 'Zimbabwe',
 'ZW',
 'ZWE',
 '716']

In [7]:
# There are 4 columns in a table so we split all content of a table in lists of 4 elements each.
n_countries = int(len(rows)/4)
countries = np.array_split(rows, n_countries)
# Convert list of rows values into dataframe.
df_countries = pd.DataFrame(countries,columns=['Country', 'Alpha-2 code', 'Alpha-3 code', 'Numeric'])
# Form dictionary out of 2 suitable columns.
countries_dict = dict(zip(df_countries['Alpha-3 code'], df_countries['Country']))
countries_dict

{'AFG': 'Afghanistan',
 'ALA': 'Åland Islands',
 'ALB': 'Albania',
 'DZA': 'Algeria',
 'ASM': 'American Samoa',
 'AND': 'Andorra',
 'AGO': 'Angola',
 'AIA': 'Anguilla',
 'ATA': 'Antarctica',
 'ATG': 'Antigua and Barbuda',
 'ARG': 'Argentina',
 'ARM': 'Armenia',
 'ABW': 'Aruba',
 'AUS': 'Australia',
 'AUT': 'Austria',
 'AZE': 'Azerbaijan',
 'BHS': 'Bahamas (the)',
 'BHR': 'Bahrain',
 'BGD': 'Bangladesh',
 'BRB': 'Barbados',
 'BLR': 'Belarus',
 'BEL': 'Belgium',
 'BLZ': 'Belize',
 'BEN': 'Benin',
 'BMU': 'Bermuda',
 'BTN': 'Bhutan',
 'BOL': 'Bolivia (Plurinational State of)',
 'BES': 'Bonaire, Sint Eustatius and Saba',
 'BIH': 'Bosnia and Herzegovina',
 'BWA': 'Botswana',
 'BVT': 'Bouvet Island',
 'BRA': 'Brazil',
 'IOT': 'British Indian Ocean Territory (the)',
 'BRN': 'Brunei Darussalam',
 'BGR': 'Bulgaria',
 'BFA': 'Burkina Faso',
 'BDI': 'Burundi',
 'CPV': 'Cabo Verde',
 'KHM': 'Cambodia',
 'CMR': 'Cameroon',
 'CAN': 'Canada',
 'CYM': 'Cayman Islands (the)',
 'CAF': 'Central African Republic (the)',
 'TCD': 'Chad',
 'CHL': 'Chile',
 'CHN': 'China',
 'CXR': 'Christmas Island',
 'CCK': 'Cocos (Keeling) Islands (the)',
 'COL': 'Colombia',
 'COM': 'Comoros (the)',
 'COD': 'Congo (the Democratic Republic of the)',
 'COG': 'Congo (the)',
 'COK': 'Cook Islands (the)',
 'CRI': 'Costa Rica',
 'CIV': "Côte d'Ivoire",
 'HRV': 'Croatia',
 'CUB': 'Cuba',
 'CUW': 'Curaçao',
 'CYP': 'Cyprus',
 'CZE': 'Czechia',
 'DNK': 'Denmark',
 'DJI': 'Djibouti',
 'DMA': 'Dominica',
 'DOM': 'Dominican Republic (the)',
 'ECU': 'Ecuador',
 'EGY': 'Egypt',
 'SLV': 'El Salvador',
 'GNQ': 'Equatorial Guinea',
 'ERI': 'Eritrea',
 'EST': 'Estonia',
 'SWZ': 'Eswatini',
 'ETH': 'Ethiopia',
 'FLK': 'Falkland Islands (the) [Malvinas]',
 'FRO': 'Faroe Islands (the)',
 'FJI': 'Fiji',
 'FIN': 'Finland',
 'FRA': 'France',
 'GUF': 'French Guiana',
 'PYF': 'French Polynesia',
 'ATF': 'French Southern Territories (the)',
 'GAB': 'Gabon',
 'GMB': 'Gambia (the)',
 'GEO': 'Georgia',
 'DEU': 'Germany',
 'GHA': 'Ghana',
 'GIB': 'Gibraltar',
 'GRC': 'Greece',
 'GRL': 'Greenland',
 'GRD': 'Grenada',
 'GLP': 'Guadeloupe',
 'GUM': 'Guam',
 'GTM': 'Guatemala',
 'GGY': 'Guernsey',
 'GIN': 'Guinea',
 'GNB': 'Guinea-Bissau',
 'GUY': 'Guyana',
 'HTI': 'Haiti',
 'HMD': 'Heard Island and McDonald Islands',
 'VAT': 'Holy See (the)',
 'HND': 'Honduras',
 'HKG': 'Hong Kong',
 'HUN': 'Hungary',
 'ISL': 'Iceland',
 'IND': 'India',
 'IDN': 'Indonesia',
 'IRN': 'Iran (Islamic Republic of)',
 'IRQ': 'Iraq',
 'IRL': 'Ireland',
 'IMN': 'Isle of Man',
 'ISR': 'Israel',
 'ITA': 'Italy',
 'JAM': 'Jamaica',
 'JPN': 'Japan',
 'JEY': 'Jersey',
 'JOR': 'Jordan',
 'KAZ': 'Kazakhstan',
 'KEN': 'Kenya',
 'KIR': 'Kiribati',
 'PRK': "Korea (the Democratic People's Republic of)",
 'KOR': 'Korea (the Republic of)',
 'KWT': 'Kuwait',
 'KGZ': 'Kyrgyzstan',
 'LAO': "Lao People's Democratic Republic (the)",
 'LVA': 'Latvia',
 'LBN': 'Lebanon',
 'LSO': 'Lesotho',
 'LBR': 'Liberia',
 'LBY': 'Libya',
 'LIE': 'Liechtenstein',
 'LTU': 'Lithuania',
 'LUX': 'Luxembourg',
 'MAC': 'Macao',
 'MKD': 'Republic of North Macedonia',
 'MDG': 'Madagascar',
 'MWI': 'Malawi',
 'MYS': 'Malaysia',
 'MDV': 'Maldives',
 'MLI': 'Mali',
 'MLT': 'Malta',
 'MHL': 'Marshall Islands (the)',
 'MTQ': 'Martinique',
 'MRT': 'Mauritania',
 'MUS': 'Mauritius',
 'MYT': 'Mayotte',
 'MEX': 'Mexico',
 'FSM': 'Micronesia (Federated States of)',
 'MDA': 'Moldova (the Republic of)',
 'MCO': 'Monaco',
 'MNG': 'Mongolia',
 'MNE': 'Montenegro',
 'MSR': 'Montserrat',
 'MAR': 'Morocco',
 'MOZ': 'Mozambique',
 'MMR': 'Myanmar',
 'NAM': 'Namibia',
 'NRU': 'Nauru',
 'NPL': 'Nepal',
 'NLD': 'Netherlands (the)',
 'NCL': 'New Caledonia',
 'NZL': 'New Zealand',
 'NIC': 'Nicaragua',
 'NER': 'Niger (the)',
 'NGA': 'Nigeria',
 'NIU': 'Niue',
 'NFK': 'Norfolk Island',
 'MNP': 'Northern Mariana Islands (the)',
 'NOR': 'Norway',
 'OMN': 'Oman',
 'PAK': 'Pakistan',
 'PLW': 'Palau',
 'PSE': 'Palestine, State of',
 'PAN': 'Panama',
 'PNG': 'Papua New Guinea',
 'PRY': 'Paraguay',
 'PER': 'Peru',
 'PHL': 'Philippines (the)',
 'PCN': 'Pitcairn',
 'POL': 'Poland',
 'PRT': 'Portugal',
 'PRI': 'Puerto Rico',
 'QAT': 'Qatar',
 'REU': 'Réunion',
 'ROU': 'Romania',
 'RUS': 'Russian Federation (the)',
 'RWA': 'Rwanda',
 'BLM': 'Saint Barthélemy',
 'SHN': 'Saint Helena, Ascension and Tristan da Cunha',
 'KNA': 'Saint Kitts and Nevis',
 'LCA': 'Saint Lucia',
 'MAF': 'Saint Martin (French part)',
 'SPM': 'Saint Pierre and Miquelon',
 'VCT': 'Saint Vincent and the Grenadines',
 'WSM': 'Samoa',
 'SMR': 'San Marino',
 'STP': 'Sao Tome and Principe',
 'SAU': 'Saudi Arabia',
 'SEN': 'Senegal',
 'SRB': 'Serbia',
 'SYC': 'Seychelles',
 'SLE': 'Sierra Leone',
 'SGP': 'Singapore',
 'SXM': 'Sint Maarten (Dutch part)',
 'SVK': 'Slovakia',
 'SVN': 'Slovenia',
 'SLB': 'Solomon Islands',
 'SOM': 'Somalia',
 'ZAF': 'South Africa',
 'SGS': 'South Georgia and the South Sandwich Islands',
 'SSD': 'South Sudan',
 'ESP': 'Spain',
 'LKA': 'Sri Lanka',
 'SDN': 'Sudan (the)',
 'SUR': 'Suriname',
 'SJM': 'Svalbard and Jan Mayen',
 'SWE': 'Sweden',
 'CHE': 'Switzerland',
 'SYR': 'Syrian Arab Republic',
 'TWN': 'Taiwan (Province of China)',
 'TJK': 'Tajikistan',
 'TZA': 'Tanzania, United Republic of',
 'THA': 'Thailand',
 'TLS': 'Timor-Leste',
 'TGO': 'Togo',
 'TKL': 'Tokelau',
 'TON': 'Tonga',
 'TTO': 'Trinidad and Tobago',
 'TUN': 'Tunisia',
 'TUR': 'Turkey',
 'TKM': 'Turkmenistan',
 'TCA': 'Turks and Caicos Islands (the)',
 'TUV': 'Tuvalu',
 'UGA': 'Uganda',
 'UKR': 'Ukraine',
 'ARE': 'United Arab Emirates (the)',
 'GBR': 'United Kingdom of Great Britain and Northern Ireland (the)',
 'UMI': 'United States Minor Outlying Islands (the)',
 'USA': 'United States of America (the)',
 'URY': 'Uruguay',
 'UZB': 'Uzbekistan',
 'VUT': 'Vanuatu',
 'VEN': 'Venezuela (Bolivarian Republic of)',
 'VNM': 'Viet Nam',
 'VGB': 'Virgin Islands (British)',
 'VIR': 'Virgin Islands (U.S.)',
 'WLF': 'Wallis and Futuna',
 'ESH': 'Western Sahara',
 'YEM': 'Yemen',
 'ZMB': 'Zambia',
 'ZWE': 'Zimbabwe'}

In [8]:
def country_name(row):
    for key, value in countries_dict.items():
        if row.LOCATION == key:
            return value

df_suicide_new['Country'] = df_suicide_new.apply(lambda row: country_name(row), axis=1)

In [9]:
df1 = df_suicide_new[['Country', 'TIME', 'Value']]
df1.columns = ['Country', 'Year', 'Suicide_rate_per_100K']
df2 = df_suicide_who[['country', 'Year', 'suicides_100k_pop']]
df2.columns=['Country', 'Year', 'Suicide_rate_per_100K']
frames = [df1, df2]

df_suicide = pd.concat(frames)
df_suicide.head()

     Country  Year  Suicide_rate_per_100K
0  Australia  2015                   13.1
1  Australia  2016                   12.1
2  Australia  2017                   12.8
3    Austria  2015                   12.9
4    Austria  2016                   12.2

*Global happiness data.